<div class="card" style="margin-top:10px;">
    <div class="card-header">
        {{Title}}
    </div>
    <div class="card-body" style="min-height:250px;">
        <h3>{{Name}}</h3>
    </div>
</div>