<div class="card" style="margin-top:10px;">
        <div class="card-header">
            <h5>Posts Details</h5>
        </div>
        <div class="card-body" style="min-height:250px;">
            <div class="row" style="margin:10px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>User Name</th>
                                <th>Website</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let posts of postsDetails">
                                <td>{{posts.id}}</td>
                                <td>{{posts.name}}</td>
                                <td>{{posts.username}}</td>
                                <td>{{posts.website}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>