<form #studentForm="ngForm">
  <div class="col-md-12 col-sm-12" style="margin-top:15px;">
    <div class="card">
      <div class="card-header">
        <h5>Student Profile</h5>
      </div>
      <div class="card-body" style="min-height:250px;">
        <div class="col-sm-12 col-md-12" *ngIf='isAdd'>
          <div class="row">
            <div class="col-md-5 col-sm-5 text-right">
              First Name
            </div>
            <div class="col-md-5 col-sm-5 text-left">
              <input type="text" name="firstName" [(ngModel)]="studentData.firstName" #firstName="ngModel" class="form-control"
                required (change)="clearValidation()" />
              <div class="text-danger" *ngIf="studentData.firstName==null && isInValid">Enter first name</div>
            </div>
          </div>
          <div class="row" style="margin-top:10px;">
            <div class="col-md-5 col-sm-5 text-right">
              Last Name
            </div>
            <div class="col-md-5 col-sm-5 text-left">
              <input type="text" name="lastName" [(ngModel)]="studentData.lastName" #lastName="ngModel" class="form-control"
                required (change)="clearValidation()" />
              <div class="text-danger" *ngIf="studentData.lastName==null && isInValid">Enter last name</div>
            </div>
          </div>
          <div class="row" style="margin-top:10px;">
            <div class="col-md-5 col-sm-5 text-right">
              Gender
            </div>
            <div class="col-md-5 col-sm-5 text-left">
              <input type="radio" name="Gender" value="1" [(ngModel)]="studentData.gender" /> Male
              <input type="radio" name="Gender" value="2" [(ngModel)]="studentData.gender" /> Female
            </div>
          </div>
          <div class="row" style="margin-top:10px;">
            <div class="col-md-5 col-sm-5 text-right">
              Mobile No
            </div>
            <div class="col-md-5 col-sm-5 text-left">
              <input type="text" name="mobileNo" [(ngModel)]="studentData.mobileNo" #mobileNo="ngModel" class="form-control"
                required OnlyNumber [isOnlyNumber]="true" maxlength="10" (change)="clearValidation()" />
              <div class="text-danger" *ngIf="studentData.mobileNo==null && isInValid">Enter mobile no</div>
              <div class="text-danger" *ngIf="studentData.mobileNo!=null && studentData.mobileNo!='' && studentData.mobileNo.length!=10 && isInValid">Enter valid mobile no</div>
            </div>
          </div>
          <div class="row" style="margin-top:10px;">
            <div class="col-md-5 col-sm-5 text-right">
              Email
            </div>
            <div class="col-md-5 col-sm-5 text-left">
              <input type="text" name="email" [(ngModel)]="studentData.email" #email="ngModel" class="form-control"
                required pattern="[^@]+@[^\.]+\.[a-z]{2,3}" (change)="clearValidation()" />
              <div class="text-danger" *ngIf="studentData.email==null && isInValid">Enter email id</div>
              <div class="text-danger" *ngIf="studentData.email!=null && email.errors?.pattern && isInValid">Enter valid email id</div>
            </div>
          </div>
          <div class="row" style="margin-top:10px;">
            <div class="col-md-5 col-sm-5 text-right">
              City
            </div>
            <div class="col-md-5 col-sm-5 text-left">
              <select name="city" class="form-control" [(ngModel)]="studentData.city">
                <option *ngFor="let city of cityDetails" value="{{city.cityId}}">{{city.city}}</option>
              </select>
            </div>
          </div>
          <div class="row" style="margin-top:10px;">
            <div class="col-md-5 col-sm-5 text-right">
              Address
            </div>
            <div class="col-md-5 col-sm-5 text-left">
              <textarea name="address" class="form-control" [(ngModel)]="studentData.address" #address="ngModel"
                required (change)="clearValidation()"></textarea>
              <div class="text-danger" *ngIf="studentData.address==null && isInValid">Enter address</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 col-sm-5 text-right">
            </div>
            <div class="col-md-5 col-sm-5 text-left">
              <div *ngIf="errors?.length > 0" style="margin-top:10px; border:1px solid #fbcbd0;;padding:5px; border-radius:5px;background-color:#fbf4f4;">
                <p class="font-weight-bold text-danger">Note:</p>
                <ul class="text-danger">
                  <li *ngFor="let error of errors">{{error}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top:10px;">
            <div class="col-md-5 col-sm-5 text-right">
            </div>
            <div class="col-md-5 col-sm-5 text-left">
              <input name="studentId" type="hidden" [(ngModel)]="studentData.studentId" />
              <button name="save" class="btn btn-primary" (click)="saveStudentProfile();">Save</button>&nbsp;
              <button name="cancel" class="btn btn-default" (click)="viewStudentProfile();">Cancel</button>
            </div>
          </div>
        </div>
        <div class="text-info font-weight-bold" *ngIf="!studentProfile">Load after 2 seconds .....</div>
        <div class="col-md-12 col-sm-12" *ngIf="isView && studentProfile">
          <div class="row">
            <div class="col-md-10 col-sm-12 text-left">
              <div class="col-md-3 col-sm-12 font-weight-bold" style="float: left;background-color:rgba(0,0,0,.03);">
                <div style="padding:7px;">
                  Filter By City :
                </div>
              </div>
              <div class="col-md-5 col-sm-5" style="float: left;">
                <select name="city" class="form-control" [(ngModel)]="filterByCity" (change)="filterStudentByCity();">
                  <option value="0">--Select--</option>
                  <option *ngFor="let city of cityDetails" value="{{city.cityId}}">{{city.city}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-2 col-sm-12 text-right">
              <button class="btn btn-success" (click)="addStudentProfile();">Add</button>
            </div>
          </div>

          <div class="row" style="margin-top:10px;">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Mobile No</th>
                    <th>Address</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let student of filteredStudent">
                    <td><a [routerLink]="['/student/profileview/'+student.studentId]">{{student.firstName}}</a></td>
                    <td>{{student.lastName}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.mobileNo}}</td>
                    <td>{{student.address}}</td>
                    <td>
                      <a class="btn" (click)="editStudentProfile(student.studentId);"><i class="fa fa-pencil-square-o"></i></a>
                      <a class="btn text-danger" (click)="deleteStudentProfile(student.studentId);"><i class="fa fa-trash-o"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <profile-view *ngIf="isProfileView" (isProfileView)="changeStatus($event);"></profile-view>
      </div>
    </div>
  </div>

  <div class="modal" role="modal" [ngStyle]="{'display':display}">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header" style="background-color:rgba(0,0,0,.03)">
          <h4 class="modal-title">Error Message</h4>
          <button type="button" class="close" (click)="closePopup();">&times;</button>
        </div>
        <div class="modal-body">
          {{errorMessage}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closePopup();">Close</button>
        </div>
      </div>
    </div>
  </div>
</form>