<div class="col-md-12 col-sm-12" style="margin-top:15px;">
    <div class="card">
        <div class="card-header">
            <h5>Student Profile View</h5>
        </div>
        <div class="card-body" style="min-height:250px;">
            <div class="col-md-12 col-sm-12" *ngIf="studentData">
                <div class="col-md-12 col-sm-12 text-right">
                    <a class="btn btn-primary"  [routerLink]="['/student/studentprofile']" (click)="onBackClick()">Back</a>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="font-weight-bold" style="float:left;">
                            Name :
                        </div>
                        <div style="float:left; padding-left:10px;">
                            {{ studentData.firstName +' '+studentData.lastName }}
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="font-weight-bold" style="float:left;">
                            Gender :
                        </div>
                        <div style="float:left; padding-left:10px;">
                            {{ (studentData.gender==1)?"Male":"Female" }}
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="font-weight-bold" style="float:left;">
                            Mobile No :
                        </div>
                        <div style="float:left; padding-left:10px;">
                            {{ studentData.mobileNo }}
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="font-weight-bold" style="float:left;">
                            Email :
                        </div>
                        <div style="float:left; padding-left:10px;">
                            {{ studentData.email }}
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="font-weight-bold" style="float:left;">
                            Addreess :
                        </div>
                        <div style="float:left; padding-left:10px;">
                            {{ studentData.address }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>