<div class="card" style="margin-top:10px;">
        <div class="card-header">
            <h5>Cross Component</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12" style="background-color:rgba(0,0,0,.03);">
                    <div class="row" style="margin:7px;">
                       Employee Name
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12" style="float: left;">
                    <input type="text" [(ngModel)]="employeeName" class="form-control" (change)="changeEmployeeName();" />
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12" style="float: left;">
                    <app-employee-view></app-employee-view>
                </div>
            </div>
        </div>
    </div>
    