<nav class="navbar navbar-expand navbar-light bg-light">
    <ul class="nav nav-pills">
      <li><a class="nav-link" [routerLink]="['/welcome']">Home</a> </li>
      <li><a class="nav-link" [routerLink]="['/lifecycle']">Life Cycle</a> </li>
      <li><a class="nav-link" [routerLink]="['/student/studentlist']">Student</a> </li>
      <li><a class="nav-link" [routerLink]="['/crosscomponent']">Cross Component</a> </li>
    </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>