<div class="card" style="margin-top:10px;">
        <div class="card-header">
            <h5>
                Cookies
            </h5>
        </div>
        <div class="card-body">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12" style="background-color:rgba(0,0,0,.03);">
                        <div class="row" style="margin:7px;">
                            Name
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12" style="float: left;">
                        <div class="col-lg-8 col-md-8 col-sm-12" style="float: left;">
                            <input type="text" [(ngModel)]="studentName" class="form-control" OnlyAlphabets [isAlphabet]="true" />
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12" style="float: left;">
                            <button class="btn btn-primary" (click)="setCookieValues();">Add</button>&nbsp;
                            <button class="btn btn-danger" (click)="clearCookieValues();">Clear</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:20px;" *ngIf="cookieValues">
                <div class="col-lg-12 col-md-12 col-sm-12" style="float:left;">
                    <p class="font-weight-bold">Cookies</p>
                    <ul>
                        <li>
                            {{cookieValues}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>