<div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:10px;">
    <div class="card">
        <div class="card-header">
            <h5>Child Routing</h5>
        </div>
        <div class="card-body" style="min-height: 250px;">
            <nav class="navbar navbar-expand navbar-light bg-light">
                <ul class="nav nav-pills">
                    <li><a class="nav-link" [routerLink]="['studentlist']">Student List</a> </li>
                    <li><a class="nav-link" [routerLink]="['postdetails']">Posts</a> </li>
                    <li><a class="nav-link" [routerLink]="['studentprofile']">Student Profile</a> </li>
                    <li><a class="nav-link" [routerLink]="['localstorage']">Local Storage</a> </li>
                    <li><a class="nav-link" [routerLink]="['cookies']">Cookies</a> </li>
                </ul>
            </nav>
            <div class="container">
                <router-outlet>
                </router-outlet>
            </div>
        </div>
    </div>
</div>