<div class="col-md-12 col-sm-12" style="margin-top:15px;">
        <div class="card">
            <div class="card-header">
                <h5>{{studentData.pageTitle}}</h5>
            </div>
            <div class="card-body" style="min-height:250px;">
                <div class="col-sm-12 col-md-12" *ngIf='isAdd'>
                    <div class="row">
                        <div class="col-md-5 col-sm-5 text-right">
                            First Name
                        </div>
                        <div class="col-md-5 col-sm-5 text-left">
                            <input type="text" [(ngModel)]="studentData.firstName" class="form-control" OnlyAlphabets [isAlphabet]="true" />
            </div>
          </div>
          <div class="row" style="margin-top:10px;">
            <div class="col-md-5 col-sm-5 text-right">
              Last Name 
            </div>
            <div class="col-md-5 col-sm-5 text-left">
              <input type="text" [(ngModel)]="studentData.lastName" class="form-control" OnlyAlphabets [isAlphabet]="true" />
            </div>
          </div>
           <div class="row" style="margin-top:10px;">
            <div class="col-md-5 col-sm-5 text-right">
              Gender 
            </div>
            <div class="col-md-5 col-sm-5 text-left">
              <input type="radio" [(ngModel)]="studentData.gender" name="rdoGender" value="1" checked="checked" /> Male
              <input type="radio" [(ngModel)]="studentData.gender" name="rdoGender" value="2" /> Female
            </div>
          </div>
           <div class="row" style="margin-top:10px;">
            <div class="col-md-5 col-sm-5 text-right">
              Mobile No 
            </div>
            <div class="col-md-5 col-sm-5 text-left">
              <input type="text" [(ngModel)]="studentData.mobileNo" class="form-control" OnlyNumber [isOnlyNumber]="true" />
            </div>
          </div>
           <div class="row" style="margin-top:10px;">
            <div class="col-md-5 col-sm-5 text-right">
            </div>
            <div class="col-md-5 col-sm-5 text-left">
             <button class="btn btn-primary" (click)="saveStudentDetails();">Save</button>&nbsp;   
             <button class="btn btn-default" (click)="showStudentList();">Cancel</button>
            </div>
          </div>
          </div>
          <div class="col-md-12 col-sm-12" *ngIf="isView">
            <div class="row">
            <div class="col-md-12 col-sm-12 text-right">
             <button class="btn btn-success" (click)="addNewStudent();">Add</button>
            </div>
          </div>
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="col-md-3 col-sm-3 font-weight-bold" style="float:left;"> Filter By 
                </div>
                <div class="col-md-6 col-sm-6" style="float:left;"><input type="text" class="form-control" [(ngModel)]='getFilterValue'>
                </div>
              </div>
          </div>
          <div class="row" style="margin-top:10px;">
            <div class="table-responsive">
             <table class="table">
               <thead>
               <tr>
                 <th>First Name</th>
                 <th>Last Name</th>
                 <th>Gender</th>
                 <th>Mobile No</th>
               </tr>
               </thead>
               <tbody>
                 <tr *ngFor="let student of studentList">
                   <td>
                     <app-student-details [StudentName]='student.firstName'
                    (nameClicked)="onNameClicked($event);"></app-student-details>
                    </td>
                   <td><a [routerLink]="['/studentview',student.firstName+' '+student.lastName]">{{student.lastName}}</a></td>
                   <td>{{student.gender}}</td>
                   <td>{{student.mobileNo}}</td>
                 </tr>
               </tbody>
             </table>
            </div>
          </div>
          </div>
            </div>
        </div>
    </div>