<div class="card" style="margin-top:10px;">
    <div class="card-header">
        <h5>Life Cycle</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12" style="background-color:rgba(0,0,0,.03);">
                <div class="row" style="margin:7px;">
                    Name
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12" style="float: left;">
                <input type="text" [(ngModel)]="studentName" class="form-control" OnlyAlphabets [isAlphabet]="true"/>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12" style="float: left;">
                <app-life-cycle [studentName]="studentName"></app-life-cycle>
            </div>
        </div>
    </div>
</div>
